cpp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="https://eden-fidelis.eu/cpp/cpp/"
	xmlns="https://eden-fidelis.eu/cpp/cpp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xsi:schemaLocation="https://www.w3.org/2001/XMLSchema https://www.w3.org/2001/XMLSchema.xsd">
	<xsd:import namespace="http://www.w3.org/1999/xhtml"
		schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd" />
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/xml.xsd" />
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<p>The CPP XML schema is intended to document and formalise the structure of Core
			Preservation Processes in a machine-readable form.</p>
		</xsd:documentation>
		<xsd:documentation xml:lang="en">
			<p>Change History
				October 2025: initial draft.</p>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="cpp">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The top-level 'cpp' element is intended to wrap
				together the information provided in the v. 1.0 of the Core Preservation Processes.
				Its direct child elements correspond to the sections described in the template
				published in the M1.1 milestone report at https://zenodo.org/records/16992452. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="cppType" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="cppType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">cppType: Complex Type for top-level CPP sections. A CPP
				description consists of four five sections: header, description, cppRelationships,
				frameworkMappings, and referenceImplementations. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="header">
				<xsd:annotation>
					<xsd:documentation xml:lang="en"> The CPP header provides provenance metadata on
						its production: authors, contributors, dates and versioning information.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="label" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">A label for the CPP in a specific
									language. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="authors">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="author" maxOccurs="unbounded"
										type="xsd:string">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Author of the initial
												draft. </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="contributors" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="contributor" maxOccurs="unbounded"
										type="xsd:string">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Contributor to the CPP
												desctiption content. </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="evaluators" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="evaluator" maxOccurs="unbounded"
										type="xsd:string">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Evaluator, both of the
												content and of the form of the CPP description. </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="history">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Versioning history of the CPP
									description. </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="version" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="versionNumber">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Version
															number, based on the semantic versioning
															standard. </xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="majorVersion"
																type="xsd:int" />
															<xsd:element name="minorVersion"
																type="xsd:int" />
															<xsd:element name="patchVersion"
																type="xsd:int" />
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="versionDate" type="xsd:date">
												</xsd:element>
												<xsd:element name="versionNotes" type="xsd:string">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="shortDefinition" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A one-line definition of the CPP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="descriptionAndScope" type="textSection" />
			<xsd:element name="process">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="inputs" type="inputsOutputs">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Data, metadata and
									guidance/documentation that must pre-exist the CPP performance.
									They will be used as input for one or several of the CPP steps.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="outputs" type="inputsOutputs">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Data, metadata and
									guidance/documentation that the CPP produces. They will be
									mentioned as the output of one of the final CPP steps.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="triggerEvents">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">List of events that will require
									the CPP to be performed. If CPPs are declared as triggers, these
									may be customers for the outputs of the current CPP.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="triggerEvent"
										maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="description"
													type="textSection">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Free-text
															description of the triggering event.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="correspondingCPP"
													type="cpp" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">CPP
															identifier of the triggering CPP, if
															relevant.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="stepByStepDescription">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="step" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="input" minOccurs="0"
													maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Each step
															may have input data, metadata, guidance
															or tools. A CPP supplier may be
															associated if it produces the input used
															in this step.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element
																name="inputElement">
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:extension
																			base="textSection">
																			<xsd:attribute
																				name="optional"
																				type="xsd:boolean"
																				default="false"></xsd:attribute>
																		</xsd:extension>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="supplier"
																minOccurs="0" maxOccurs="unbounded"
																type="cpp"></xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="stepDescription"
													type="textSection">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">A free-text
															description of the process step.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="output" minOccurs="0"
													maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Each step
															may have output data, metadata, guidance
															or tools. A CPP customer may be
															associated if it consumes the output
															produced by this step.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element
																name="outputElement">
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:extension
																			base="textSection">
																			<xsd:attribute
																				name="optional"
																				type="xsd:boolean"
																				default="false"></xsd:attribute>
																		</xsd:extension>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="customer"
																minOccurs="0"
																maxOccurs="unbounded"
																type="cpp"></xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="stepNumber"
												type="xsd:string" use="required" />
											<xsd:attribute name="optional"
												type="xsd:boolean" default="false" />
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="bpmnDiagram" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Only a link to an image
												representation of the BPMN diagram is currently
												provided in this element.</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="diagramImage">
													<xsd:complexType>
														<xsd:simpleContent>
															<xsd:extension
																base="xsd:anyURI">
																<xsd:attribute
																	name="alt"
																	type="xsd:string"
																	use="optional" />
															</xsd:extension>
														</xsd:simpleContent>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rationaleWorstCase">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">This section is intended at defining the
						purpose(s) of the process, i.e. the reason(s) why a TDA would perform such
						an action. On the other hand, worst case scenarios describe the impact of
						not performing it, preferably by pointing to external resources like blog
						posts, papers or reports.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="purpose" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
										name="purposeDescription"
										type="textSection" />
									<xsd:element
										name="worstCase"
										type="textSection" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cppRelationships">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Relationships describe how CPPs are
						interrelated; in particular, if another CPP is required in order for the
						current CPP to be performed.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="relationship" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="relationshipType">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="Requires"></xsd:enumeration>
												<xsd:enumeration value="Required by"></xsd:enumeration>
												<xsd:enumeration value="May require"></xsd:enumeration>
												<xsd:enumeration value="May be required by"></xsd:enumeration>
												<xsd:enumeration value="Affects"></xsd:enumeration>
												<xsd:enumeration value="Affected by"></xsd:enumeration>
												<xsd:enumeration value="Facilitates"></xsd:enumeration>
												<xsd:enumeration value="Facilitated by"></xsd:enumeration>
												<xsd:enumeration value="Affinity with"></xsd:enumeration>
												<xsd:enumeration value="Not to be confused with"></xsd:enumeration>
												<xsd:enumeration value="Alternative to"></xsd:enumeration>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="relatedCPP" type="cpp" />
									<xsd:element name="relationshipDescription" type="textSection" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="frameworkMappings">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mapping" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="frameworkName">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">The name of the
												framework for which an alignment with the current
												CPP was investigated. </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="CoreTrustSeal" />
												<xsd:enumeration value="Nestor Seal" />
												<xsd:enumeration value="ISO 16363" />
												<xsd:enumeration value="OAIS" />
												<xsd:enumeration value="PREMIS" />
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="correspondingTerm" type="textSection"
										minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">The term used in the
												framework to refer to the action the CPP is aligned
												with.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="correspondingSection" type="textSection"
										minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">The section, part or
												chapter in the framework where the action described
												in the CPP is mentioned. Additional remarks on
												alignment or misalignment can be detailed here.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="referenceImplementations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="useCases" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Use cases are descriptions of
									implemented core preservation processes.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="useCase" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="useCasetitle" type="xsd:string"></xsd:element>
												<xsd:element name="institution" type="institution" />
												<xsd:element name="linkToDocumentation"
													type="hyperlinkPlus" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">A hyperlink
															to a paper, blog post, report, etc.
															describing the use case in further
															details.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="triggerEvent" type="textSection"
													minOccurs="0">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Specific
															event, condition, or action that
															initiated the use case.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="problemStatement"
													type="textSection" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Challenge
															or need addressed by this use case.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="proposedSolution"
													type="textSection" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">Description
															of the implemented solution or
															improvement.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="publicDocumentation" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="institution" type="institution" />
									<xsd:element name="linkToDocumentation"
										type="hyperlinkPlus" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" use="required" type="cpp">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">This attribute provides the CPP identifier,
					according to the following pattern: the letters "CPP", a dash, and three digits. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute use="required" ref="xml:lang">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The language in which the CPP description is
					written.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="cpp">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value='CPP-\d{3}' />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="textSection">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Complex type for elements with extensive textual
				material</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:choice>
				<xsd:element ref="xhtml:p" />
				<xsd:group ref="xhtml:lists" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inputsOutputs">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Complex type for inputs or outputs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="data" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dataElement" maxOccurs="unbounded"
							type="inputOutputElement">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Subtype of Object, or Information
									Package, that the CPP acts upon - uses or produces. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="metadata" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="metadataElement" maxOccurs="unbounded"
							type="inputOutputElement">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Subtype of Metadata that the CPP
									acts upon - uses or produces. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="guidance" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="guidanceElement" maxOccurs="unbounded"
							type="inputOutputElement">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Guidance or documentation that the
									CPP acts upon - uses or produces. It is intended to be one of
									the subtypes of Policy described in the glossary. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="alerts" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="alert" maxOccurs="unbounded" type="xsd:string"							>
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Alert monitored (inputs) or raised (outputs) by the CPP.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inputOutputElement">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Input or output element</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="optional" type="xsd:boolean" default="false">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">States whether the element is optional, if
							applicable.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="institution">
		<xsd:sequence>
			<xsd:element name="institutionLabel" type="xsd:string"></xsd:element>
			<xsd:element name="institutionCountry">
				<xsd:annotation>
					<xsd:documentation>Use ISO 3166-1 country codes.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\w{2}"></xsd:pattern>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="institutionType" minOccurs="0" maxOccurs="unbounded">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Academic journal publisher" />
						<xsd:enumeration value="Commercial digital preservation service" />
						<xsd:enumeration value="Governmental or state library" />
						<xsd:enumeration value="Digital preservation system" />
						<xsd:enumeration value="Discipline-agnostic data repository" />
						<xsd:enumeration value="Discipline-specific data repository" />
						<xsd:enumeration value="Local archive" />
						<xsd:enumeration value="Museum or gallery" />
						<xsd:enumeration value="National archive" />
						<xsd:enumeration value="National library" />
						<xsd:enumeration value="Non-commercial digital preservation service" />
						<xsd:enumeration value="Non-governmental or intergovernmental organisation" />
						<xsd:enumeration value="Private archive" />
						<xsd:enumeration value="Research infrastructure" />
						<xsd:enumeration value="Research performing organisation" />
						<xsd:enumeration value="University archive" />
						<xsd:enumeration value="University library" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="hyperlinkPlus">
		<xsd:sequence>
			<xsd:element name="hyperlink" type="xsd:anyURI" />
			<xsd:element name="comment" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute use="required" ref="xml:lang">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The language in which the documentation available at said link is
					written.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
